In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
fpath = "./dataset"

In [3]:
exam_data = {
    "수학": [90,80,90],
    "영어": [98,89,95],
    "성별": ["남","남","여"],
    "합격": [True, False, True]
}

exam_df = pd.DataFrame(exam_data)
print(exam_df)
print(exam_df.shape)
print(exam_df.info())

   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
(3, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   수학      3 non-null      int64
 1   영어      3 non-null      int64
 2   성별      3 non-null      object
 3   합격      3 non-null      bool
dtypes: bool(1), int64(2), object(1)
memory usage: 207.0+ bytes
None

In [4]:
list_df = [["green","M",13.5,"class1"],
           ["red","L",15.3,"class2"],
           ["blue","XL",10.1,"class3"]]
df = pd.DataFrame(list_df, columns=["color","size","price","classlabel"])
print(df)

   color size  price classlabel
0  green    M   13.5     class1
1    red    L   15.3     class2
2   blue   XL   10.1     class3

In [5]:
# 변수명 바꾸기
list_df = [["green","M",13.5,"class1"],
           ["red","L",15.3,"class2"],
           ["blue","XL",10.1,"class3"]]
df = pd.DataFrame(list_df, columns=["color","size","price","classlabel"])
print(df)

df.rename(columns = {"color":"색깔",
                     "size":"크기",
                     "price":"가격",
                     "classlabel": "클래스"},
          index = {0:1, 1:2, 2:3},
          inplace = True)
print(df)

   color size  price classlabel
0  green    M   13.5     class1
1    red    L   15.3     class2
2   blue   XL   10.1     class3
      색깔  크기    가격     클래스
1  green   M  13.5  class1
2    red   L  15.3  class2
3   blue  XL  10.1  class3

In [6]:
## 
exam_data = {
    "수학": [90, 80, 90],
    "영어": [98, 89, 95],
    "성별": ["남", "남", "여"],
    "합격": [True, False, True]
}

exam_df = pd.DataFrame(exam_data)
print('exam_df = \n', exam_df)
exam_df.drop(labels = ["수학"], axis = 1, inplace = True)
print('exam_df = \n', exam_df)
exam_df.drop(labels = ["영어", "합격"], axis = 1, inplace =True)
print('exam_df = \n', exam_df)
exam_df.drop(labels = [0], axis = 0, inplace = True)
print('exam_df = \n', exam_df)

exam_df =
    수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
exam_df =
    영어 성별     합격
0  98  남   True
1  89  남  False
2  95  여   True
exam_df =
   성별
0  남
1  남
2  여
exam_df =
   성별
1  남
2  여

In [7]:
fname = "vor_r.xlsx"
file = os.path.join(fpath, fname)
vor = pd.read_excel(file)

# print(vor)
# print("*"*100)

print("vor = \n", vor.head())
print("*"*100)

vor.rename(columns = {"group":"소속", "id":"번호"}, inplace = True)
print("vor = \n", vor.head())
print("*"*100)

vor.drop(labels = ["소속", "번호"], axis = 1, inplace = True)
print("vor = \n", vor.head())

vor =
    group  id time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
0      1   1  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
1      1   2  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
2      1   3  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
3      1   4  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
4      1   5  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153

        hz1
0  0.738967
1  0.781420
2  0.754252
3  0.818722
4  0.836298
****************************************************************************************************
vor =
    소속  번호 time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
0   1   1  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
1   1   2  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
2   1   3  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
3   1   4  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
4   1   5  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153

        hz1
0  0.738967
1  0.781420
2  0.754252
3  0.818722
4  0.836298
****************************************************************************************************
vor =
   time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64       hz1
0  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393  0.738967
1  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880  0.781420
2  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853  0.754252
3  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352  0.818722
4  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153  0.836298

In [8]:
## drop missing
exam_data = {
    "수학": [90,80,90],
    "영어": [98,89,95],
    "성별": ["남","남","여"],
    "합격": [True, False, True]
}

exam_df = pd.DataFrame(exam_data)

print("exam_df = \n", exam_df)
exam_df.loc[0,"성별"] = np.nan
exam_df.loc[1,"수학":"영어"] = None # "수학","영어" 오타내서 틀린사례
print("*"*50)
print("exam_df = \n", exam_df)

print("*"*50)
print(exam_df.dropna(axis = 0)) # row
print("*"*50)
print(exam_df.dropna(axis = 0, subset = ["수학"])) # row

# print("*"*50)
# print(exam_df.dropna(axis = 1)) # column

exam_df =
    수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
**************************************************
exam_df =
      수학    영어   성별     합격
0  90.0  98.0  NaN   True
1   NaN   NaN    남  False
2  90.0  95.0    여   True
**************************************************
     수학    영어 성별    합격
2  90.0  95.0  여  True
**************************************************
     수학    영어   성별    합격
0  90.0  98.0  NaN  True
2  90.0  95.0    여  True

In [9]:
## data indexing
exam_data = {
    "수학": [90,80,90],
    "영어": [98,89,95],
    "성별": ["남","남","여"],
    "합격": [True, False, True]
}

exam_df = pd.DataFrame(exam_data)

## 열변수명
print("수학")
print(exam_df["수학"])
print(exam_df[["수학","성별"]])
# 열?이 하나뽑힌건 3g 타입이라 하고 두 개 이상은 데이터프레임이라 한다

## 인덱스 (slicing)
print(exam_df[2:3])

수학
0    90
1    80
2    90
Name: 수학, dtype: int64
   수학 성별
0  90  남
1  80  남
2  90  여
   수학  영어 성별    합격
2  90  95  여  True

In [10]:
## loc selector
print(exam_df)

##
print("*"*50)
print(exam_df.loc[0:2])
print(exam_df.loc[[0, 2]])

## loc column 뽑기
print("*"*50)
print(exam_df.loc[:, ["수학", "합격"]])

##
print("*"*50)
print(exam_df.loc[1:2, "수학":"성별"])
# 인플루시브와 익스플루시브... 뭐요?

   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
**************************************************
   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
   수학  영어 성별    합격
0  90  98  남  True
2  90  95  여  True
**************************************************
   수학     합격
0  90   True
1  80  False
2  90   True
**************************************************
   수학  영어 성별
1  80  89  남
2  90  95  여

In [11]:
## 문제
df = pd.DataFrame({
    'hdz' : ['yes', 'no', 'no', 'no', 'yes'],
    'chestpain' : [True, False, False, True, False],
    'cholesterol' : [208, 282, 235, 277, 280],
    'sysbp' : [160, 140, 188, 162, 122]
}, index = np.arange(1, 6))
print(df)
################################### loc를 이용한 문제
print("loc를 이용한 문제")
print('문제 1. chestpain의 3번째와 5번째 자료를 loc index를 이용하여 추출하여라')
print("1: \n", df.loc[[2, 4], "chestpain"])
print("문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 loc index를 이용하여 추출하여라")
print("2: \n", df.loc[1:3, 'chestpain':'sysbp'])
print("문제 3. hdz 열 전체를 loc index를 이용하여 추출하여라")
print("3: \n", df.loc[:, "hdz"])
print("문제 4. 열의 순서를 바꾸어서 loc index를 이용하여 추출하여라")
print("4: \n", df.loc[:, ::-1])
################################### loc를 이용한 문제
print("문제 1. chestpain의 3번째와 5번째 자료를 iloc index를 이용하여 추출하여라")
print("1: \n", df.loc)
print("문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 iloc index를 이용하여 추출하여라")
print("2: \n", df.loc)
print("문제 3. hdz 열 전체를 iloc index를 이용하여 추출하여라")
print("3: \n", df.loc)
print("문제 4. 열의 순서를 바꾸어서 iloc index를 이용하여 추출하여라")
print("4: \n", df.loc)

   hdz  chestpain  cholesterol  sysbp
1  yes       True          208    160
2   no      False          282    140
3   no      False          235    188
4   no       True          277    162
5  yes      False          280    122
loc를 이용한 문제
문제 1. chestpain의 3번째와 5번째 자료를 loc index를 이용하여 추출하여라
1:
 2    False
4     True
Name: chestpain, dtype: bool
문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 loc index를 이용하여 추출하여라
2:
    chestpain  cholesterol  sysbp
1       True          208    160
2      False          282    140
3      False          235    188
문제 3. hdz 열 전체를 loc index를 이용하여 추출하여라
3:
 1    yes
2     no
3     no
4     no
5    yes
Name: hdz, dtype: object
문제 4. 열의 순서를 바꾸어서 loc index를 이용하여 추출하여라
4:
    sysbp  cholesterol  chestpain  hdz
1    160          208       True  yes
2    140          282      False   no
3    188          235      False   no
4    162          277       True   no
5    122          280      False  yes
문제 1. chestpain의 3번째와 5번째 자료를 iloc index를 이용하여 추출하여라
1:
 <pandas.core.indexing._LocIndexer object at 0x00000242DB216B70>
문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 iloc index를 이용하여 추출하여라
2:
 <pandas.core.indexing._LocIndexer object at 0x00000242DB216B70>
문제 3. hdz 열 전체를 iloc index를 이용하여 추출하여라
3:
 <pandas.core.indexing._LocIndexer object at 0x00000242DB216B70>
문제 4. 열의 순서를 바꾸어서 iloc index를 이용하여 추출하여라
4:
 <pandas.core.indexing._LocIndexer object at 0x00000242DB216B70>

In [12]:
## 문제
df = pd.DataFrame({
    'hdz':['yes', 'no', 'no', 'no', 'yes'],
    'chestpain':[True, False, False, True, False],
    'cholesterol':[208, 282, 235, 277, 280],
    'sysbp':[160, 140, 188, 162, 122]
}, index = np.arange(1,6))
print(df)

print(df.iloc[:, 1:3]) # iloc는 인덱스로 하는것이 아닌 파이썬 lst자료형이 가진 디폴트 인덱스로 인덱싱
# 변수명이 없다던지 loc로 뽑기 힘들대 iloc를 써야할때가 있지만 십중팔구는 loc를 사용하게 된다.

   hdz  chestpain  cholesterol  sysbp
1  yes       True          208    160
2   no      False          282    140
3   no      False          235    188
4   no       True          277    162
5  yes      False          280    122
   chestpain  cholesterol
1       True          208
2      False          282
3      False          235
4       True          277
5      False          280

In [13]:
## 행과 열 추가
print(exam_df)

## 열추가
exam_df["음악"] = [100, 90, 80]
exam_df.insert(1, "코딩", [50, 80, 100])
print(exam_df)

## 행 추가
exam_df.loc[3] = [60, 90, 80, "여", False, 100]
exam_df

   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
   수학   코딩  영어 성별     합격   음악
0  90   50  98  남   True  100
1  80   80  89  남  False   90
2  90  100  95  여   True   80

   수학   코딩  영어 성별     합격   음악
0  90   50  98  남   True  100
1  80   80  89  남  False   90
2  90  100  95  여   True   80
3  60   90  80  여  False  100

In [14]:
# 데이터 값 바꾸기
print(exam_df)

exam_df.loc[3, "코딩"] = 0
print(exam_df)

exam_df.loc[2, "코딩":"영어"] = [10000, 20000]
print(exam_df)

   수학   코딩  영어 성별     합격   음악
0  90   50  98  남   True  100
1  80   80  89  남  False   90
2  90  100  95  여   True   80
3  60   90  80  여  False  100
   수학   코딩  영어 성별     합격   음악
0  90   50  98  남   True  100
1  80   80  89  남  False   90
2  90  100  95  여   True   80
3  60    0  80  여  False  100
   수학     코딩     영어 성별     합격   음악
0  90     50     98  남   True  100
1  80     80     89  남  False   90
2  90  10000  20000  여   True   80
3  60      0     80  여  False  100

In [15]:
## 문제
df = pd.DataFrame({
    'hdz' : ['yes', 'no', 'no', 'no', 'yes'],
    'chestpain' : [True, False, False, True, False],
    'cholesterol' : [208, 282, 235, 277, 280],
    'sysbp' : [160, 140, 188, 162, 122]
}, index = np.arange(5))
print(df)

#    hdz  chestpain  cholesterol  sysbp
# 0  yes       True          208    160
# 1   no      False          282    140
# 2   no      False          235    188
# 3   no       True          277    162
# 4  yes      False          280    122

df.loc[4, "sysbp"] = 10000
print(df)

#    hdz  chestpain  cholesterol  sysbp
# 0  yes       True          208    160
# 1   no      False          282    140
# 2   no      False          235    188
# 3   no       True          277    162
# 4  yes      False          280  10000

print("*"*50)
df.loc[1:3, "sysbp"] = [1,2,3]
print(df)

   hdz  chestpain  cholesterol  sysbp
0  yes       True          208    160
1   no      False          282    140
2   no      False          235    188
3   no       True          277    162
4  yes      False          280    122
   hdz  chestpain  cholesterol  sysbp
0  yes       True          208    160
1   no      False          282    140
2   no      False          235    188
3   no       True          277    162
4  yes      False          280  10000
**************************************************
   hdz  chestpain  cholesterol  sysbp
0  yes       True          208    160
1   no      False          282      1
2   no      False          235      2
3   no       True          277      3
4  yes      False          280  10000

In [16]:
dict_data = {
    "c0":np.arange(1, 4),
    "c1":np.arange(4, 7),
    "c2":np.arange(7, 10),
    "c3":np.arange(10, 13),
    "c4":np.arange(13, 16)
}
df = pd.DataFrame(dict_data, index = ["r0", "r1", "r2"])
print(df)

print("*"*50)
df.set_index("c0", inplace = True) # 인덱스를 바꿔 세팅, id등을 인덱스로 넣을때 등
print(df)

print("*"*50)
df.reset_index(inplace = True) # seting한 인덱스를 다시 리셋할때 # .reset_index("c0", inplace = True) 과 다를까?
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
**************************************************
    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15
**************************************************
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [17]:
print(fpath)
print(fname)
print(file)

vor = pd.read_excel(file)
print(vor)
vor.set_index("id", inplace = True) # inplace를 안쓰면 저장이! 파일에 저장이 안된다
print(vor)
vor.reset_index()
print(vor)

./dataset
vor_r.xlsx
./dataset\vor_r.xlsx
    group  id    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32  \
0       1   1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738
1       1   2     Pre  0.345725  0.795440  0.781473  0.924972  0.801245
2       1   3     Pre  0.376285  0.799327  0.781350  0.777773  0.868007
3       1   4     Pre  0.451440  0.771083  0.808645  0.787825  0.839985
4       1   5     Pre  0.287360  0.825547  0.831303  0.818332  0.817320
..    ...  ..     ...       ...       ...       ...       ...       ...
59      2  12  Post14  0.079660  0.237193  0.471418  0.474830  0.585082
60      2  13  Post14  0.085117  0.387700  0.403857  0.583710  0.665262
61      2  14  Post14  0.058188  0.399475  0.467535  0.648505  0.657350
62      2  15  Post14  0.098390  0.357222  0.478880  0.456372  0.536233
63      2  16  Post14  0.117395  0.449813  0.472043  0.571655  0.690753

      hz0.64       hz1
0   0.808393  0.738967
1   0.803880  0.781420
2   0.868853  0.754252
3   0.832352  0.818722
4   0.816153  0.836298
..       ...       ...
59  0.660957  0.623650
60  0.690318  0.652092
61  0.660045  0.586642
62  0.629415  0.627395
63  0.678215  0.658850

[64 rows x 10 columns]
    group    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
id
1       1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
2       1     Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
3       1     Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
4       1     Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
5       1     Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153
..    ...     ...       ...       ...       ...       ...       ...       ...
12      2  Post14  0.079660  0.237193  0.471418  0.474830  0.585082  0.660957
13      2  Post14  0.085117  0.387700  0.403857  0.583710  0.665262  0.690318
14      2  Post14  0.058188  0.399475  0.467535  0.648505  0.657350  0.660045
15      2  Post14  0.098390  0.357222  0.478880  0.456372  0.536233  0.629415
16      2  Post14  0.117395  0.449813  0.472043  0.571655  0.690753  0.678215

         hz1
id
1   0.738967
2   0.781420
3   0.754252
4   0.818722
5   0.836298
..       ...
12  0.623650
13  0.652092
14  0.586642
15  0.627395
16  0.658850

[64 rows x 9 columns]
    group    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
id
1       1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
2       1     Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
3       1     Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
4       1     Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
5       1     Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153
..    ...     ...       ...       ...       ...       ...       ...       ...
12      2  Post14  0.079660  0.237193  0.471418  0.474830  0.585082  0.660957
13      2  Post14  0.085117  0.387700  0.403857  0.583710  0.665262  0.690318
14      2  Post14  0.058188  0.399475  0.467535  0.648505  0.657350  0.660045
15      2  Post14  0.098390  0.357222  0.478880  0.456372  0.536233  0.629415
16      2  Post14  0.117395  0.449813  0.472043  0.571655  0.690753  0.678215

         hz1
id
1   0.738967
2   0.781420
3   0.754252
4   0.818722
5   0.836298
..       ...
12  0.623650
13  0.652092
14  0.586642
15  0.627395
16  0.658850

[64 rows x 9 columns]